@import "_import";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.main-wrap{
  overflow: hidden;
  position: relative;
  //min-height: calc(100vh - 214px);
}

.page__wrapper{

  @include for-1024{
    margin-top: 60px;
  }
}




