footer.footer
  .footer__inner.site-container
    .footer__top
      .footer__logo
        .footer__logo-ico
          include ../../img/ico/footer-logo.svg
      .footer__social
        .footer__social-item
          .footer__social-ico
            include ../../img/ico/footer-text.svg
        .footer__social-item
          .footer__social-ico
            include ../../img/ico/footer-linked.svg
        .footer__social-item
          .footer__social-ico
            include ../../img/ico/footer-twitter.svg
        .footer__social-item
          .footer__social-ico
            include ../../img/ico/footer-faceb.svg
    .footer__center.footer__row
      .footer__info
        p.footer__info-row Our industry leading software offers zero emission transport transition planning that provides a holistic, strategic view that’s guided by processes as well as people.
        p.footer__info-row We’re here each step of the way to ensure reduced carbon emissions and costs for you, ensuring your people are productive, safe and happy.
      .footer__columns.custom-row
        .footer__column.custom-col
          .footer__column-inner
            .footer__col-title Navigation
            ul.footer__col-list
              li.footer__col-item
                a(href="#") Home
              li.footer__col-item
                a(href="#") About us
              li.footer__col-item
                a(href="#") Contact Us
              li.footer__col-item
                a(href="#") Knowledge Hub
              li.footer__col-item
                a(href="#") Data & Privacy
              li.footer__col-item
                a(href="#") FAQ
        .footer__column.custom-col
          .footer__column-inner
            .footer__col-title SERVICES
            ul.footer__col-list
              li.footer__col-item
                a(href="#") BetterFleet
              li.footer__col-item
                a(href="#") Gridfleet
              li.footer__col-item
                a(href="#") Zero Emissions Transport Advisory
              li.footer__col-item
                a(href="#") Tools
        .footer__column.custom-col
          .footer__column-inner
            .footer__col-title SECTORS
            ul.footer__col-list
              li.footer__col-item
                a(href="#") Buses
              li.footer__col-item
                a(href="#") Public Sector
              li.footer__col-item
                a(href="#") Logistics
              li.footer__col-item
                a(href="#") Electricity Network Operators
              li.footer__col-item
                a(href="#") Utilities
    .footer__bottom.footer__row
      .footer__info.footer__info.empty
      .footer__columns.custom-row
        .footer__column.custom-col.empty
        .footer__column.custom-col
          .footer__column-inner
            .footer__country Australia
            .footer__address
              p.footer__address-row Evenergi Pty Ltd
              p.footer__address-row Level 16, 175 Pitt Street
              p.footer__address-row Sydney, NSW 2000
              p.footer__address-row +61 (0)2 9159 1824
        .footer__column.custom-col
          .footer__column-inner
            .footer__country United Kingdom
            .footer__address
              p.footer__address-row Evenergi UK Ltd
              p.footer__address-row 35 Ballards Lane
              p.footer__address-row London N3 1XW