header.header
  .header__inner
    .header__content.site-container
      .header__logo
        a(href="javascript:void(0)").header__logo-link
          include ../../img/logo-color.svg
      .header__menu
        nav.nav-menu
          ul.nav-menu__list.custom-row
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)").nav-menu__link Who We Are
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)").nav-menu__link Services
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)").nav-menu__link.active Channel Partners
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)").nav-menu__link Knowledge Hub
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)").nav-menu__link Careers
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)").nav-menu__link Contact Us

        .header__menu-btn
          a(href="javascript:void(0)").header__menu-btn-i.js_mobile-menu
            .header__menu-btn-ico.header__menu-btn__burger
              include ../../img/ico/burger.svg
            .header__menu-btn-ico.header__menu-btn__close
              include ../../img/ico/close.svg

