header.header
  .header__inner
    .header__content.site-container
      .header__logo
        a(href=(pageActive !== "home-page"
            ? "./"
            : 'javascript:void(0);')).header__logo-link
          include ../../img/logo-color.svg
      .header__menu
        .header__logo.header__logo--mobile
          a(href="javascript:void(0)").header__logo-link
            include ../../img/logo-color.svg

        nav.nav-menu
          ul.nav-menu__list.custom-row
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)"
                class=(pageActive === "who-we-are-page"
                    ? "nav-menu__link active"
                    : 'nav-menu__link'))
                span Who We Are
            li.nav-menu__item.custom-col
              a(href="./services.html"
                class=(pageActive === "service-page"
                    ? "nav-menu__link active"
                    : 'nav-menu__link'))
                span Services
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)").nav-menu__link
                span Channel Partners
            li.nav-menu__item.custom-col
              a(href="./study.html"
                class=(pageActive === "study-page"
                    ? "nav-menu__link active"
                    : 'nav-menu__link'))
                span Knowledge Hub
            li.nav-menu__item.custom-col
              a(href="javascript:void(0)").nav-menu__link
                span Careers
            li.nav-menu__item.custom-col
              a(href="./contact.html"
                class=(pageActive === "contact-page"
                    ? "nav-menu__link active"
                    : 'nav-menu__link'))
                span Contact Us

      .header__menu-btn
        a(href="javascript:void(0)").header__menu-btn-i.js_mobile-menu
          .header__menu-btn-ico.header__menu-btn__burger
            include ../../img/ico/burger.svg
          .header__menu-btn-ico.header__menu-btn__close
            include ../../img/ico/close.svg

