extends _layout

block vars
  - var pageTitle = "Contact page";
  - var pageClass = "contact-page";
  - var pageActive = "contact-page";

block content
  div.main-wrap
    .section-top.webp-img(
      data-img="./img/contact-top-img.png"
      data-webp="./img/contact-top-img.webp")
      .section-top__inner.site-container
        h1.section-top__title CONTACT
        .section-top__desk Don’t hesitate to contact us by filling out the form.