extends _layout

block vars
  - var pageTitle = "Contact page";
  - var pageClass = "contact-page";
  - var pageActive = "contact-page";

block content
  div.main-wrap
    .section-top.webp-img(
      data-img="./img/top-contact-img01.jpg"
      data-webp="./img/top-contact-img01.webp")
      .section-top__gradient.lazyload(
        data-bg="./img/secondary-gradient-01.svg")
      .section-top__inner.site-container
        h1.section-top__title CONTACT
        .section-top__desk Don’t hesitate to contact us by filling out the form.

    .section-request
      .section-request__inner.site-container
        .section-request__title.section-title PURPOSE OF THE REQUEST:
        .section-request__content
          .section-request__form.site-form
            form(action="#" id="contact-form")
              .section-request__form-title NEW PROJECT REQUEST
              .site-form__row
                label
                  input(type="text" name="fullName" placeholder="WHAT’S YOUR FULL NAME?" required)
              .site-form__row
                label
                  input(type="text" name="organisation" placeholder="WHAT ORGANISATION ARE YOU WITH?" required)
              .site-form__row
                label
                  input(type="email" name="email" placeholder="WHAT’S YOUR EMAIL?" required)
              .site-form__row
                label
                  input(type="text" name="phoneNumber" placeholder="WHAT’S YOUR BEST CONTACT NUMBER?" required)
              .site-form__row
                label
                  input(type="text" name="" placeholder="WHAT’S YOUR ENQUIRY?")

              .site-form__btn-submit.section-request__form-btn
                button(type="submit" value="submit" style="display: none;")
                a(href="javascript:void(0);").site-form__btn-submit-i.site-btn.site-btn--yellow.js_submit-form-btn SUBMIT
          .section-request__media
            .section-request__media-title MEDIA <br>
              | SOMETHING ELSE?
            p.section-request__text TO VIEW OR ENQUIRE ABOUT AVAILABLE POSITIONS.
              a(href="#")  EXPLORE CAREERS


    .section-connect
      .section-connect__inner.site-container
        .section-connect__text-wrapper
          .section-connect__title.section-title.section-title--secondary WORK WITH US
          .section-connect__subtitle Get in touch to find out more about how we can help.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow LET’S CONNECT
