extends _layout

block vars
  - var pageTitle = "Contact page";
  - var pageClass = "contact-page";
  - var pageActive = "contact-page";

block content
  div.main-wrap
    .section-top
      .section-top__img
        picture
          source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="./img/contact-top-img.webp" type="image/webp")
          img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/contact-top-img.png" alt="img").lazyload
      .section-top__inner.site-container
        h1.section-top__title CONTACT
        .section-top__desk Don’t hesitate to contact us by filling out the form.