extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage";
  - var pageActive = "homepage";

block content
  div.main-wrap




















    .section-clients
      .section-clients__inner.site-container
        .section__logo-row
          .section__logo-title CLIENTS
          .section__logo-items
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")
            .section__logo-item
              picture
                img(src="img/Ausgrid.png" alt="img")






















  .section-connect
      .section-connect__inner.site-container
        .section-connect__title WORK WITH US
        .section-connect__subtitle Get in touch to find out more about how we can help.
        .section-connect__btn
          a(href='#').site-btn.site-btn--yellow Let's connect

