extends _layout

block vars
  - var pageTitle = "Pages page";
  - var pageClass = "pages-page";
  - var pageActive = "pages-page";


block content
  div.main-wrap
    div(style="padding: 250px 0; display: flex; flex-direction: column; align-items: center;")
        a(href="./index.html") HOME
        a(href="./blog.html") BLOG
        a(href="./contact.html") CONTACT
        a(href="./information.html") INFORMATION
        a(href="./services.html") SERVICES
        a(href="./study.html") STUDY
        a(href="./betterfleet.html") BETTERFLET