extends _layout

block vars
  - var pageTitle = "Study page";
  - var pageClass = "study-page";
  - var pageActive = "study-page";

block content
  div.main-wrap




    .section-slider
      .section-slider__inner.site-container
        .section-slider__title.section-title.section-title.center related articles
        .section-slider__wrap
          .section-slider__container.js_swiper_one
            .section-slider__wrapper.swiper-wrapper
              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")

              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")

              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")

              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")

              .section-slider__item.swiper-slide
                .section-slider__item-content
                  .section-slider__item-title TITLE
                  .section-slider__item-subtitle SUBTITLE
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis mod tincidunt ut.
                  .section-slider__item-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                  .section-slider__item-btn
                    a(href="").section-slider__item-link
                      span.section-slider__item-link-text Read More
                      span.section-slider__item-link-ico
                        picture
                          img.lazyload(src="img/arrow-right.svg" alt="img")




    .section-connect.bg-right
      .section-connect__inner.site-container
        .section-connect__image-wrapper
          .section-connect__image
            picture
              img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="./img/connect-2.png" alt="img" width="574" height="380").lazyload

        .section-connect__text-wrapper.txt-start.justify-start
          .section-connect__title.mb-middle.section-title.section-title--secondary CASE STUDY HEADING
          .section-connect__subtitle.mb-middle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow View case study


    .section-connect
      .section-connect__inner.site-container
        .section-connect__text-wrapper
          .section-connect__title.section-title.section-title--secondary WORK WITH US
          .section-connect__subtitle Get in touch to find out more about how we can help.
          .section-connect__btn
            a(href='#').site-btn.site-btn--yellow LET’S CONNECT



