@import "../modules/_help";

.hero{

  &__inner{
    overflow: hidden;
    background-color: #00283B;
    position: relative;
    min-height: 785px;
    padding-top: 120px;
    padding-bottom: 30px;

    @include for-1600{
      padding-top: 60px;
      min-height: 695px;
    }

    @include for-1024{
      min-height: auto;
    }

  }

  //&__bg-overlay{
  //  width: 100% !important;
  //  height: 100%;
  //  background-repeat: no-repeat;
  //  background-size: 100%;
  //}
  //
  &__bg-overlay{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__bg{
    position: absolute;
    //right: -3%;
    //top: 60px;
    //
    //width: 60%;
    //
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    //
    //@include from-1600{
    //  right: -3%;
    //}
    //@include for-1600{
    //  left: 40%;
    //}
    display: flex;
    align-items: center;
    justify-content: flex-end;

    picture{
      width: 60%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img{
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      object-fit: cover;
    }

    @include for-1024{
      left: 0;
      opacity: .5;
    }

    @include for-550{
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }

    @include for-680{
      display: none;
    }

    //img{
    //  height: 600px;
    //  width: 100%;
    //
    //  @include for-1600{
    //    height: 600px;
    //    width: 980px;
    //  }
    //
    //  @include for-1024{
    //    height: 100%;
    //    width: 100%;
    //  }
    //}
  }

  &__content{
    position: relative;
  }

  &__geom-wrap{
    position: relative;
    margin-bottom: 50px;

    @include for-1600{

    }
  }

  &__geom{
    position: absolute;
    left: 0;
    top: 55px;

    @include for-1600{
      top: 20px;
    }

    @include for-1200{
      top: 0;
    }

    @include for-1024{
      opacity: .3;
    }

    @include for-680{
      display: none!important;
    }
  }

  h1,
  &__title{
    font-size: 42px;
    color: #FF8D00;
    margin: 0;
    padding-bottom: 60px;
    position: relative;
    z-index: 1;

    @include for-1600{
      padding-bottom: 30px;
    }

    @include for-1200{
      font-size: 26px;
    }

    @include for-680{
      padding-bottom: 0;
    }
  }

  &__text{
    font-size: 28px;
    color: white;
    max-width: 680px;
    line-height: 147%;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;

    @include for-1600{
      margin-bottom: 40px;
      max-width: 500px;
    }

    @include for-1200{
      font-size: 18px;
    }
  }

  &__btn{
    position: relative;
    z-index: 1;
    display: flex;
  }

  &__btn-i{

  }

}
.service-page .hero__title{
  text-transform: uppercase;
}