@import "../modules/_help";


.section-solution {

	&__inner {
		padding-top: 90px;
		padding-bottom: 57px;

		@include for-1600 {
			padding-top: 30px;
			padding-bottom: 45px;
		}
	}

	&__title {
		margin-bottom: 24px;
	}

	&__head {

	}

	&__tab {

	}

	&__tab-item {

	}

	&__body {

	}

	&__content--inner {
		width: 100%;

		&.dflex {
			@include for-800 {
				flex-direction: column-reverse !important;
			}
		}
	}

	&__content-inner {
		display: flex;
		flex-direction: column;
	}

	&__text {
		font-size: 30px;
		line-height: 130%;
		margin-bottom: 50px;
		color: #666666;

		@include for-1600 {
			font-size: 18px;
			line-height: 130%;
		}

		@include for-1400 {
			font-size: 16px;
			margin-bottom: 25px;
		}
		@include for-1100 {
			font-size: 14px;
		}

		&.service-page-text {
			width: 100%;
			display: flex;
			flex-direction: column;
			padding-right: 85px;

			@include for-1600{
				padding-right: 30px;
			}

			@include for-768{
				padding-right: 0;
			}

			.section-connect__btn {
				margin-top: 85px;
				@include for-1600 {
					margin-top: 50px;
				}
				@include for-1400 {
					margin-top: 30px;
				}
			}
		}
	}

	&__image-wrapper {
		max-width: 700px;
		width: 100%;
		display: flex;

		@include for-1400{
			max-width: 550px;
		}

		@include for-768{
			max-width: 100%;
			margin-bottom: 20px;
		}
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		picture{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__list {

	}

	&__item {
		margin-bottom: 20px;
		width: 50%;

		@include for-1024 {
			width: 100%;
		}
	}

	&__item-body {
		display: flex;
	}

	&__item-ico {
		max-width: 110px;
		width: 100%;
		padding-top: 10px;

		@include for-1024 {
			max-width: 90px;
			max-height: 90px;
		}

		@include for-550 {
			max-width: 60px;
			max-height: 60px;
			padding-top: 0;
		}

		picture {
			display: flex;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__item-info {
		padding-left: 35px;
		display: flex;
		flex-direction: column;
		width: 100%;

		@include for-1024 {
			padding-left: 15px;
		}
	}

	&__item-title {
		font-size: 30px;
		line-height: 150%;
		color: #004B70;
		font-weight: 600;
		margin-bottom: 15px;

		@include for-1600 {
			font-size: 24px;
			line-height: normal;
		}

		@include for-1400 {
			font-size: 18px;
		}

		@include for-550 {
			font-size: 14px;
		}
	}

	&__item-desk {
		color: #666666;
		font-size: 21px;
		line-height: 25px;

		@include for-1600 {
			font-size: 16px;
			line-height: 18px;
		}

		@include for-1400 {
			font-size: 14px;
		}
	}

}
