.section-clients {
	padding-top: 110px;
	padding-bottom: 110px;
	@include for-800 {
		padding-top: 50px;
		padding-bottom: 0px;
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__testimonials {
		margin-bottom: 85px;
		@include for-800 {
			margin-bottom: 20px;
		}

	}

	&__testimonials-inner {
		display: flex;
		@include for-800 {
			display: block;
		}
	}

	&__testimonials-right,
	&__testimonials-left {
		padding-top: 90px;
		padding-bottom: 90px;
		width: 50%;
		@include for-800 {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		@include for-800 {
			width: 100%;
		}

		.site-container-half {
			@include for-800 {
				margin-left: 0;
				margin-right: 0;
				max-width: 100%;
			}
		}
	}

	&__testimonials-left {
		background-color: #00283B;
		padding-right: 80px;
		@include for-1400 {
			padding-right: 40px;
		}
		@include for-800 {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__testimonials-right {
		padding-left: 65px;

		@include for-1400 {
			padding-left: 40px;
		}
		@include for-800 {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__testimonials-title {
		//font-size: 42px;
		//color: #FF8D00;
		//margin-bottom: 45px;
		//text-transform: uppercase;
		//text-align: start;
		//@include for-1200 {
		//	font-size: 30px;
		//}
	}

	&__testimonials-rating {
		border-top: 3px solid #fff;
		padding-top: 80px;
		display: flex;
		flex-wrap: wrap;
		gap: 140px;
		@include for-1400 {
			gap: 50px;
		}
		@include for-680 {
			gap: 25px;
		}
	}

	&__testimonials-item {
		width: calc(50% - 70px);
		//padding-right: 15px;
		@include for-1400 {
			width: calc(50% - 25px);
		}
		@include for-680 {
			width: 100%;
		}
	}

	&__testimonials-number {
		font-size: 72px;
		color: #fff;
		margin-bottom: 25px;
		@include for-1400 {
			font-size: 36px;
		}
	}

	&__testimonials-rate {
		height: 15px;
		width: 100%;
		margin-bottom: 35px;
		background-color: #fff;
	}

	&__testimonials-rating-inner {
		height: 15px;
		width: 0;
		background-color: #19B3FF;

		&.animate {
			animation: increase-rate forwards 5s ease-in-out;
		}
		&.w-25{
			max-width: 25%;
		}
		&.w-50{
			max-width: 50%;
		}
		&.w-80{
			max-width: 80%;
		}
	}

	@keyframes increase-rate {
		0% {
			width: 0%;
		}
		//50% {
		//	width: 50%;
		//}
		100% {
			width: 100%;
		}
	}

	&__testimonials-text {
		font-size: 30px;
		color: #fff;
	}

	&__testimonials-comment {

	}

	&__testimonials-ico {

	}

	&__testimonials-text-wrapper {
		display: flex;
		border-top: 3px solid #E4E4E4;
		padding-top: 140px;
		@include for-800 {
			padding-top: 50px;
		}
	}

	&__testimonials-text {
		font-size: 30px;
		@include for-1400 {
			font-size: 20px;
		}
	}

	&__testimonials-text--bold {
		font-size: 36px;
		font-weight: 600;
		color: #19B3FF;
		margin-bottom: 60px;
		padding-left: 37px;
		text-align: start;
		@include for-1400 {
			font-size: 24px;
			padding-left: 20px;
		}
		@include for-680 {
			margin-bottom: 30px;
		}
	}

	&__testimonials-quotes {
		position: relative;
		top: -15px;
		width: 100%;
		max-width: 60px;
		height: auto;
		@include for-1400 {
			top: -7px;
			height: auto;
		}
	}

	&__testimonials-author {
		padding-top: 55px;
		font-size: 28px;
		font-weight: 500;
		color: #004B70;
		text-align: start;

		@include for-1400 {
			font-size: 20px;

		}
	}

}