.section-clients {
	padding-top: 110px;
	padding-bottom: 110px;
	@include for-800 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__testimonials {
		margin-bottom: 85px;

	}

	&__testimonials-inner {
		display: flex;
	}

	&__testimonials-right,
	&__testimonials-left {
		padding-top: 90px;
		padding-bottom: 90px;
		width: 50%;
	}

	&__testimonials-left {
		background-color: #00283B;
		padding-right: 80px;
		@include for-1400 {
			padding-right: 40px;
		}
	}

	&__testimonials-right {
		padding-left: 65px;

		@include for-1400 {
			padding-left: 40px;
		}
	}

	&__testimonials-title {
		font-size: 42px;
		color: #FF8D00;
		margin-bottom: 45px;
		text-transform: uppercase;
		text-align: start;
		@include for-1200 {
			font-size: 30px;
		}
	}

	&__testimonials-rating {
		border-top: 3px solid #fff;
		padding-top: 80px;
		//padding-right: 80px;
		display: flex;
		flex-wrap: wrap;
		gap: 140px;
		@include for-1400 {
			gap: 50px;
		}
	}

	&__testimonials-item {
		width: calc(50% - 70px);
		//padding-right: 15px;
		@include for-1400 {
			width: calc(50% - 25px);
		}
	}

	&__testimonials-number {
		font-size: 72px;
		color: #fff;
		margin-bottom: 25px;
		@include for-1400 {
			font-size: 36px;
		}
	}

	&__testimonials-rate {
		margin-bottom: 35px;
	}

	&__testimonials-text {
		font-size: 30px;
		color: #fff;
	}

	&__testimonials-comment {

	}

	&__testimonials-ico {

	}

	&__testimonials-text-wrapper {
		display: flex;
		position: relative;
	}

	&__testimonials-text {
		font-size: 30px;
		@include for-1400 {
			font-size: 20px;
		}
	}

	&__testimonials-text--bold {
		font-size: 36px;
		font-weight: 600;
		color: #19B3FF;
		margin-bottom: 60px;
		padding-left: 105px;
		text-align: start;
		@include for-1400 {
			font-size: 24px;
			padding-left: 60px;
		}
		@include for-680 {
			margin-bottom: 30px;
		}
	}

	&__testimonials-quotes {
		position: absolute;
		top: -15px;
		width: 58px;
		height: auto;
		@include for-1400 {
			top: -7px;
			width: 33px;
			height: auto;
		}
	}

	&__testimonials-author {
		font-size: 28px;
		font-weight: 500;
		color: #004B70;
		text-align: start;
		padding-left: 105px;
		@include for-1400 {
			font-size: 20px;
			padding-left: 60px;

		}
	}

}