@import "_mixins";
@import "_colors";

.desktop {
	@media (max-width: 992px) {
		display: none !important;
	}
}

.table-1100 {
	@include from-1100 {
		display: none !important;
	}
}

.desktop-1100 {
	@include for-1100 {
		display: none !important;
	}
}

.desktop {
	@media (max-width: 1100px) {
		display: none !important;
	}
}

.tablet {
	@media (min-width: 1101px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 550px) {
		display: none !important;
	}
}

.show-for-800 {

	@include from-800 {
		display: none !important;
	}
}

.hide-for-800 {

	@include for-800 {
		display: none !important;
	}
}

.hide-for-680 {

	@include for-680 {
		display: none !important;
	}
}

.hide-path-mobile {
	@include for-680 {
		display: none;
	}
}

.wfc {
	width: fit-content !important;
}

.position-relative {
	position: relative;
}

.d-none {
	display: none;
}

.w-100 {
	width: 100% !important;
}

.mw-100 {
	max-width: 100% !important;
}

.page__wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
}


.site-container {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;


	@include for-1600{
		max-width: 1330px;
	}

	@include for-1300{
		max-width: 1200px;
	}


}


.flex-column{
	flex-direction: column!important;
}

.custom-row{
	margin: 0 -20px;
	display: flex;
	flex-wrap: wrap;

	@include for-1400{
		margin: 0 -15px;
	}
}

.custom-col{
	padding: 0 20px;
	display: flex;
	flex-direction: column;

	@include for-1400{
		padding: 0 15px;
	}
}
.col-25{
	width: 25% !important;
}