@import "_mixins";
@import "_colors";

.desktop {
	@media (max-width: 992px) {
		display: none !important;
	}
}

.table-1100 {
	@include from-1100 {
		display: none !important;
	}
}

.desktop-1100 {
	@include for-1100 {
		display: none !important;
	}
}

.desktop {
	@media (max-width: 1100px) {
		display: none !important;
	}
}

.tablet {
	@media (min-width: 1101px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 550px) {
		display: none !important;
	}
}

.show-for-800 {

	@include from-800 {
		display: none !important;
	}
}

.hide-for-800 {

	@include for-800 {
		display: none !important;
	}
}

.hide-for-680 {

	@include for-680 {
		display: none !important;
	}
}

.hide-path-mobile {
	@include for-680 {
		display: none;
	}
}

.wfc {
	width: fit-content !important;
}

.position-relative {
	position: relative;
}

.d-none {
	display: none;
}

.w-100 {
	width: 100% !important;
}

.mw-100 {
	max-width: 100% !important;
}

.page__wrapper {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
}


.site-container {
	margin: 0 auto;
	max-width: 1600px;
	width: 100%;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;


	@include for-1600{
		max-width: 1330px;
	}

	@include for-1300{
		max-width: 1200px;
	}

}

.site-container-half{
	max-width: calc(50vw - ((100vw - 1600px) / 2));
	width: 100%;
	padding: 0 15px;

	@include for-1600{
		max-width: calc(50vw - ((100vw - 1330px) / 2));
	}

	@include for-1300{
		max-width: calc(50vw - ((100vw - 1200px) / 2));
	}

	&--left{
		margin-left: auto;
	}

	&--right{
		margin-right: auto;
	}
}


.flex-column{
	flex-direction: column!important;
}

.custom-row{
	margin: 0 -20px;
	display: flex;
	flex-wrap: wrap;

	@include for-1400{
		margin: 0 -15px;
	}
}

.custom-col{
	padding: 0 20px;
	display: flex;
	flex-direction: column;

	@include for-1400{
		padding: 0 15px;
	}

	&--25{
		width: 25%;
	}
}

.col-25{
	width: 25% !important;
}


.site-btn{
	font-size: 26px;
	font-weight: 700;
	background: #00283B;
	color: white;
	padding: 16px 30px;
	border-radius: 50px;
	cursor: pointer;
	border: 2px solid #00283B;
	transition: .3s all ease-in;
	display: flex;
	width: fit-content;
	min-width: 260px;
	justify-content: center;

	@include for-1024{
		min-width: 150px;
	}

	@include for-1600{
		font-size: 18px;
	}

	@include for-1200{
		font-size: 16px;
		padding: 8px 15px;
	}

	span{
		font-weight: 700;

		@include for-1600{
			font-size: 18px;
		}

		@include for-1200{
			font-size: 16px;
		}
	}

	&:hover{
		border-color: white;
		background: #00283B;
		box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	}

	&--violet{
		background: #870058;
		border-color: #870058;

		&:hover{
			color: #870058;
			background: white;
			border-color: #870058;
		}
	}
	&--yellow{
		background: #FF8D00;
		border-color: #FF8D00;

		&:hover{
			color: #FF8D00;
			background: white;
			border-color: #FF8D00;
		}
	}
}

div[data-tab-content]{
	display: none;

	&.active{
		display: flex;
	}
}

.section-title{
	font-size: 42px;
	margin-bottom: 45px;
	text-transform: uppercase;
	color: #19B3FF;

	@include for-1600{
		font-size: 36px;
	}

	@include for-1200 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	@include for-680{
		font-size: 24px;
	}




	&--secondary{
		color: #FF8D00;
	}

	&.center{
		text-align: center;
	}
}


.color-case{
	border-radius: 15px;
	padding: 60px 25px 40px;

	@include for-1600{
		padding: 30px 15px;
	}

	&.orange{
		background-color: #FF8D00;
	}

	&.violet{
		background-color: #870058;
	}

	&.blue{
		background-color: #19B3FF;
	}

}


.site-tab{
	display: flex;

	&__wrapper{
		margin-bottom: 45px;

		@include for-1600{
			margin-bottom: 30px;
		}

		@include for-1024{
			position: relative;
			padding: 0 15px;
			left: -15px;
			width: calc(100% + 30px);
			overflow-x: auto;
			margin-bottom: 20px;
		}
	}

	&__item {
		padding-top: 15px;
		padding-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 16px;
		color: #004B70;
		transition: .3s all;
		position: relative;
		cursor: pointer;
		margin-right: 60px;
		white-space: nowrap;

		@include for-1600{
			margin-right: 30px;
			padding-top: 8px;
			padding-bottom: 8px;
		}

		&:last-child{
			margin-right: 0;
		}

		@include for-1600 {
			font-size: 14px;
		}

		@include for-1024 {
			padding: 10px;
			justify-content: flex-start;
		}

		> span {
			position: relative;
			z-index: 1;
		}


		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			width: calc(100% + 40px);
			height: 100%;
			transform: translate(-50%, -50%);
			display: flex;
			background: #E4E4E4;
			opacity: 0;
			visibility: hidden;
			z-index: -1;
			transition: .3s all;
			border-radius: 30px;

			@include for-1600{
				width: calc(100% + 20px);
			}
		}

		&:hover {
			color: #FF8D00;

			&:before {
				opacity: 0.3;
				visibility: visible;
				z-index: 1;
			}
		}

		&.active {
			font-weight: 800;
			color: #FF8D00;

			span {
				font-weight: 800;
			}

			&:before {
				opacity: 1;
				visibility: visible;
				z-index: 1;
			}
		}
	}
}
.dflex{
	display: flex;
}
.mb-0{
	margin-bottom: 0 !important;
}
.txt-start{
	text-align: start !important;
}
.justify-start{
	justify-content: flex-start !important;
}

.site-search{

	form{
		display: flex;
		width: 100%;
		position: relative;
	}

	input[type="text"],
	input[type="search"]{
		background: transparent;
		padding: 10px 55px 10px 25px;
		width: 100%;
		border-radius: 50px;
		border: 2px solid #1A1A1A;
		font-weight: 600;
		font-size: 14px;
		min-height: 42px;

		&::placeholder{
			font-weight: 600;
			color: #1A1A1A;
			font-variant: small-caps;
		}
	}

	button{
		position: absolute;
		right: 0;
		top: 0;
		width: 60px;
		height: 100%;
		background-color: transparent;
		background-position: center;
		background-size: 26px;
		background-repeat: no-repeat;
		border: 0;
		border-radius: 50px;
		cursor: pointer;
		transition: .3s all ease-in;

		&:hover{
			filter: invert(1);
			background-color: white;
		}
	}
}